<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.ui.externaltools.launchGroup"/>
</listAttribute>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LAUNCH_CONFIGURATION_BUILD_SCOPE" value="${none}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="C:\Program Files\openocd-0.6.0-dev-120229143915\bin\openocd-0.6.0-dev-120229143915.exe"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="-f board\stm32f4discovery.cfg -c init -c targets -c &quot;halt&quot; -c &quot;flash write_image erase .out/spotifyclient_rom.hex&quot; -c &quot;verify_image .out/spotifyclient_rom.hex&quot; -c &quot;reset run&quot; -c shutdown"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="${workspace_loc:/embedded}"/>
</launchConfiguration>
