###################
# Compiled sources
###################
*.output
*.elf
*.exe
*.so*
*.a
*.stackdump

############################
# Folder used by libspotify
############################
tmp/

############################
# Configfile
############################
/spotifyserver.conf

############################
# tmp files
############################
/output.log
