
############################
# tmp files
############################
/output.log

############################
# visual studio files
############################
Debug/
Release/
ipch/
spotifyclient.opensdf
spotifyclient.sdf
spotifyclient.sln
spotifyclient.suo
spotifyclient.v11.suo
spotifyclient.vcxproj.user
