
############################
# tmp files
############################
/output.log

############################
# visual studio files
############################
Debug/
Release/
ipch/
*.opensdf
*.sdf
*.suo
*.v11.suo
*.vcxproj.user
