###################
# Compiled sources
###################
*.o
*.elf
*.exe
*.so*
*.a

############################
# Folder used by libspotify
############################
tmp/

############################
# Configfile
############################
/spotifyserver.conf

############################
# tmp files
############################
/output.log

############################
# visual studio files
############################
Debug/
Release/
ipch/
spotifyserver.opensdf
spotifyserver.sdf
spotifyserver.suo
spotifyserver.v11.suo
*.vcxproj.user
