###################
# Compiled sources
###################
*.o
*.elf
*.exe
*.so*
*.a

############################
# Folder used by libspotify
############################
tmp/

############################
# Configfile
############################
/spotifyserver.conf

############################
# tmp files
############################
/output.log
